#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
*/obj/*
[Bb]in
*/[Bb]in/*
[Dd]ebug*/
*/[Dd]ebug/*
[Rr]elease*/
*.pdb
*.dbschema
*.schemaview
*.dbmdl
*.csproj.user

#Tooling
Ankh.NoLoad
_ReSharper*/
_ReSharper.*
*.ReSharper.*
*.resharper
[Tt]est[Rr]esult*
*/Properties/DesignTimeResources.xaml

# Vim temp files
*~

#Project files
[Bb]uild/

#Subversion files
.svn

#Mercurial files
.hg

#git files
.git

# Office Temp Files
~$*

#NuGet
packages/
